tbody,
    td {
      border: 2px solid rgba(128, 128, 128, 0.29);
    }
    table {
      width: 50vw;
      padding-left: 10;
      margin-left: 15px;
      margin-right: 15px;
    }
    thead {
      font-size: larger;
    }
    body {
      background-color: rgb(20, 135, 177);
    }